// Color Variables
//$primary-color: #3C5D95;
$primary-color : #0F52BA;
$sec-color:#4870B4;
$text-color: #34364a;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #f7fcfe;

//Body Variables
$bg-color: #F6F8FD ;
$dot-color: #bfc5d3;
$dot-size: 1px;
$dot-space: 25px;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$sec-font : 'Poppins', sans-serif;
$third-font : 'DM Sans';
$font-hosting: 'local'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';