// Color Variables
$primary-color: #3C5D95;
$sec-color:#4870B4;
$text-color: #777;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #f7fcfe;

// Font Variables
$primary-font: 'Nunito', sans-serif;
$sec-font : 'Poppins', sans-serif;
$third-font : 'DM Sans';
$font-hosting: 'local'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';