{{ define "main" }}

{{ partial "page-header.html" . }}

<!-- checking blog -->
{{ if or (or (eq .Section "portofolio") )}}

  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}

      <div class="col-lg-4 mt-4">
        <div class="card card-produk explore-feature border-0 rounded-lg text-center bg-white">
            <div class="card-body p-3 border-branding">
                <img src="{{ .Params.image |relURL }}" alt="{{ .Title }}" class="card-img-top rounded">
                <h5 class="mt-3 title produk-front-title"><a class="blog-a" data-toggle="modal" data-target="#portfolioDokun">{{ .Title }}</a></h5>
                <h3 class="p-harga-detail"><i class="uil uil-bookmark"></i> {{ .Params.pkategori }}</h3>
            </div>
        </div>
    </div>

  
  <!-- Modal -->
  <div class="modal fade" id="portfolioDokun" tabindex="-1" role="dialog" aria-labelledby="portfolioDokunTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="portfolioDokunTitle">{{ .Title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <img src="{{ .Params.image |relURL }}" alt="{{ .Title }}" class="card-img-top rounded mb-3">
            {{ .Content }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        </div>
      </div>
    </div>
  </div>

      <!--<div class="col-md-3 mb-5">
        <div class="card border-0">
          <img src="{{ .Params.image |relURL }}" alt="{{ .Title }}" class="card-img mb-4">
          <div class="card-body p-0">
            <h3><a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a></h3>
            <h3 class="p-harga-detail">Rp. {{ .Params.harga }}</h3>
          </div>
        </div>
      </div>-->
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>

<!-- regular page -->
{{ else }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}